<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>БулЛавка</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
    <meta property="og:image" content="{% static 'img/favicon/newfavi.ico' %}">
    <meta property="vk:image" content="{% static 'img/obloj.png' %}">
	<link rel="icon" href="{% static 'img/favicon/newfavi.ico' %}">

	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
  <!-- Custom Browsers Color End -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
<!-- // Add the new slick-theme.css if you want the default styling -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>

<body>


	<!-- Nav-bar  -->
 <header class="partners"> 

<div  class="container">



		<div class="row">

			<div class="col-2 logo ">
				<img src="/media/{{ logo.PHOTO }}" alt="logo">
			</div>

			<div class="col-8 ">
				<div class="nav">
					<a href="{% url 'main_url' %}" class="one nav__item active">Главная</a>
          <a href="{% url 'news_url' %}" class="two nav__item">Новости</a>
					<a href="{% url 'gallery_url' %}" class="two nav__item">О нас</a>
					<a href="{% url 'jobs_url' %}" class=" three nav__item">Наши вакансии</a>
					<a href="{% url 'partners_url' %}" class="act four nav__item">Наши партнеры</a>
					<a href="{% url 'cooperation_url' %}" class="nav__item">Сотрудничество</a>
					<a href="{% url 'contacts_url' %}" class="nav__item">Контакты</a>
				</div>

			</div>
			<div class="col-2 ">
				<div class="social">
          <a target="_blank" href="https://www.instagram.com/bullavka_moscow/"><img src="{% static 'img/instagram.svg' %}" alt="instagram"></a>
					<a target="_blank" href="https://vk.com/bullavka_moscow"><img src="{% static 'img/vk.svg' %}" alt="vk"></a>
					<a target="_blank" href="https://www.facebook.com/bullavkamoscow/"><img src="{% static 'img/facebook.svg' %}" alt="facebook"></a>
				</div>
			</div>

		</div>

	</div>
  <div class="containter ">
    <div class="row">
      <div class="col-12">
        <h2 class="h2">Наши партнеры</h2>
      </div>
    </div>
  </div>
</header>

{% include 'mobile_nav.html' %}


</nav>

<div class="overlay"></div>
<main>
  <div class="container partners-images">


    <div class="row">
        {% for partner in partners %}
      <div class="col-xs-12 col-md-4">
        <div class="img-container  ">
            {% if partner.link != '0' %}
          <div class="snip1302">
            <img src="/media/{{ partner.logo }}"/>
            <div>
              <h2>Перейти на сайт</h2>
              <div class="icons">
               </div>
            </div>

            <a href="{{ partner.link }}" target="_blank"></a>
          </div>
            {% else %}

                <img src="/media/{{ partner.logo }}"/>

            {% endif %}


        </div>

      </div>
        {% endfor %}
    </div>





       
  </div>

</main>

{% include 'footer.html' %}


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'js/scripts.min.js' %}"></script>

</body>
</html> 


