{% load static %}
<footer>
  <div class="container">
    <div class="row footer-row">
      <div class="col-md-4 col-xs-12">
        <div class="telephone-number ">

          <a target="_blank" href="https://www.instagram.com/bullavka_moscow/"><img src="{% static 'img/instagram.svg' %}" alt="instagram"></a>
					<a target="_blank" href="https://vk.com/bullavka_moscow"><img src="{% static 'img/vk.svg' %}" alt="vk"></a>
					<a target="_blank" href="https://www.facebook.com/bullavkamoscow/"><img src="{% static 'img/facebook.svg' %}" alt="facebook"></a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <p class="Organisation">
            Сеть кофеен «БулЛавка» 2016 ©
        </p>
  <br>

      </div>
      <div class="col-md-4 col-xs-12">
       <p class="email">+7 (964) 629-35-88</p>
      </div>
    </div>
</footer>
